---
import Layout from "../layouts/Layout.astro";
const content = "abc";
---

<Layout title="About">
    <h1>About</h1>
    <p>{content}</p>
    <ul>
        <li>
            <a href="/posts/post1/">Post 1</a>
        </li>
    </ul>
</Layout>
