---
import BaseLayout from "../layouts/BaseLayout.astro";
import { WeatherReact } from "../components/WeatherReact";
---

<BaseLayout title="weather">
    <div>Weather</div>
    <div class="grid grid-cols-3 gap-2">
        <WeatherReact client:load />
    </div>
</BaseLayout>
